* {
    box-sizing: border-box;
}

body {
    color: rebeccapurple;
    margin: 0;
    padding: 0;
}

nav {
    padding: 0 10px;
}

h1 {
    font-size: 30px;
    line-height: 30px;
    margin: 10px 0;
}

iframe {
    border: none rebeccapurple 2px;
    border-top-style: solid;
    padding: 10px;
    width: calc(100% - 20px);
    height: 1000px;
}

@media (min-width: 900px) {
    main {
        display: grid;
        grid-template-columns: max-content auto;
        grid-template-areas: "nav env";
    }

    nav {
        grid-area: nav;
    }

    iframe {
        grid-area: env;
        border-top-style: none;
        border-left-style: solid;
        margin-left: 20px;
        height: 100vh;
    }
}
